# Übung 2:

## Aufgabe 2b: 

**Feature Engineering (Mittel: 15 Punkte)**
Verwendet in dieser Aufgabe das adult.csv Datenset. Entwickelt auf Basis dieses Datensets eine Strategie zur Vorverarbeitung der Daten und überlegt euch welche Features ihr benötigt, um ein gutes Klassifizierungsergebnis zu erreichen. Entwickelt drei eigene Features, die ihr entweder aus den bestehenden Attributen ableitet, oder über zusätzliche Daten (z.B. Eigenschaften des native-country) hinzufügt. Ziel eurer Strategie soll es sein, die Daten für Machine Learning vorzubereiten und einen passenden Estimator zu trainieren. Nehmt gegebenenfalls Optimierungen im Setup vor, um den Score eures Estimators zu verbessern.

benötigte Tools

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import networkx as nx
#from pipev import plot_pipeline

from sklearn.preprocessing import OneHotEncoder

from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.preprocessing import RobustScaler, OneHotEncoder
from sklearn.impute import SimpleImputer

Als erstes werden die Daten geladen und die einzelnen Features genau betrachtet:

**Data Loading & Exploration

In [2]:
dataset_location ="data_adult.csv"
dataset = pd.read_csv(dataset_location)
dataset.head(500)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,60,Private,201965,Some-college,10,Never-married,Prof-specialty,Unmarried,White,Male,0,0,40,United-States,>50K
471,22,?,139883,Some-college,10,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
472,35,Private,285020,HS-grad,9,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,United-States,<=50K
473,30,Private,303990,HS-grad,9,Never-married,Transport-moving,Not-in-family,White,Male,0,0,60,United-States,<=50K
474,67,Private,49401,Assoc-voc,11,Divorced,Other-service,Not-in-family,White,Female,0,0,24,United-States,<=50K
475,46,Private,279196,Bachelors,13,Never-married,Craft-repair,Not-in-family,White,Female,0,0,40,United-States,<=50K
476,17,Private,211870,9th,5,Never-married,Other-service,Not-in-family,White,Male,0,0,6,United-States,<=50K
477,22,Private,281432,Some-college,10,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,30,United-States,<=50K
478,27,Private,161155,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,40,United-States,<=50K
479,23,Private,197904,HS-grad,9,Never-married,Other-service,Unmarried,White,Female,0,0,35,United-States,<=50K
480,33,Private,111746,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,45,Portugal,<=50K
481,43,Self-emp-not-inc,170721,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,20,United-States,<=50K
482,28,State-gov,70100,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,20,United-States,<=50K
483,41,Private,193626,HS-grad,9,Married-spouse-absent,Craft-repair,Unmarried,White,Female,0,0,40,United-States,<=50K
484,52,?,271749,12th,8,Never-married,?,Other-relative,Black,Male,594,0,40,United-States,<=50K
485,25,Private,189775,Some-college,10,Married-spouse-absent,Adm-clerical,Own-child,Black,Female,0,0,20,United-States,<=50K
486,63,?,401531,1st-4th,2,Married-civ-spouse,?,Husband,White,Male,0,0,35,United-States,<=50K
487,59,Local-gov,286967,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,45,United-States,<=50K
488,45,Local-gov,164427,Bachelors,13,Divorced,Prof-specialty,Unmarried,White,Female,0,0,40,United-States,<=50K
489,38,Private,91039,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,15024,0,60,United-States,>50K
490,40,Private,347934,HS-grad,9,Never-married,Other-service,Not-in-family,White,Female,0,0,35,United-States,<=50K
491,46,Federal-gov,371373,HS-grad,9,Divorced,Adm-clerical,Not-in-family,White,Male,0,0,40,United-States,<=50K
492,35,Private,32220,Assoc-acdm,12,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,60,United-States,<=50K
493,34,Private,187251,HS-grad,9,Divorced,Prof-specialty,Unmarried,White,Female,0,0,25,United-States,<=50K
494,33,Private,178107,Bachelors,13,Never-married,Craft-repair,Own-child,White,Male,0,0,20,United-States,<=50K
495,41,Private,343121,HS-grad,9,Divorced,Adm-clerical,Unmarried,White,Female,0,0,36,United-States,<=50K
496,20,Private,262749,Some-college,10,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K
497,23,Private,403107,5th-6th,3,Never-married,Other-service,Own-child,White,Male,0,0,40,El-Salvador,<=50K
498,26,Private,64293,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,35,United-States,<=50K
499,72,?,303588,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,20,United-States,<=50K

In [3]:
dataset.info(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [4]:
dataset.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

**Beschreibung der Daten:

*age:*
Alter - wird gruppiert (AgeBinner)

*workclass:*
Die Workclass beschreiben ob jemand angestellt oder selbstständig ist, ob jemand ein Unternehmer ist oder für den Staat arbeitet bzw. überhaupt nicht arbeiten geht. Diese Feater wird dummycodiert

*fnlwgt:*
Fortlaufende Nummer, deren Bedeutung mir nicht bekannt ist, deshalb wird die Spalte entfernt

*education:*
Höchste Schulausbildung - wird dummycodiert

*education-num:*
Das gleiche als Kennzahl wiedergegeben: Dieses Feature wird deshalb entfernt

*martial-status:*
Familienstand - wird dummycodiert

*occupation:*
Bescheftigung der Person - wird dummycodiert

*relationship:*
Beziehungsstatus der Person - wird dummycodiert

*race:*
Ethnie - wird dummycodiert

*sex:*
Geschlecht - wird dummycodiert

*capital-gain:*
Kapitalzuwachs - bleibt unverändert

*capital-loss:*
Kapitalverlust - bleibt unverändert

*hours-per-week:*
Arbeitsstunden pro Woche - wird in Gruppen eingeteilt: no work, part-time, full-time, workaholicer

*native-country:*
Herkunftsland: Die Länder werden nach Kontinenten gruppiert

*Income:*
Einkommen - wird in zwei Gruppen unterteilt: <=50K = 0 und >50K = 1 - wird vorhergesagt.

**Out- Input Features**

In [5]:
output_features = [
    "income"
]

input_features = [
    "age",
    "workclass",
    "fnlwgt",
    "education", 
    "education-num",
    "marital-status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "capital-gain",
    "capital-loss",
    "hours-per-week",
    "native-country"
]

train_X, test_X, train_y, test_y = train_test_split(
    dataset[input_features], 
    dataset[output_features],
    test_size=0.2
)

train_X.shape, test_X.shape, train_y.shape, test_y.shape

((26048, 14), (6513, 14), (26048, 1), (6513, 1))

In [6]:
train_X

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
19087,31,Self-emp-not-inc,111423,Bachelors,13,Never-married,Craft-repair,Not-in-family,White,Male,0,0,55,United-States
11325,50,Self-emp-not-inc,312477,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1887,40,United-States
29953,17,Private,38611,11th,7,Never-married,Adm-clerical,Own-child,White,Female,0,0,23,United-States
21900,40,Private,147206,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
25381,45,Private,178319,Bachelors,13,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States
6899,26,Private,410240,11th,7,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,United-States
25984,41,Local-gov,201435,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,Black,Male,0,0,40,United-States
31247,53,?,155233,12th,8,Married-civ-spouse,?,Wife,White,Female,0,0,40,Italy
16199,30,Private,114691,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,40,United-States
13328,49,Self-emp-inc,141058,Some-college,10,Divorced,Exec-managerial,Not-in-family,White,Male,0,2339,50,United-States
2852,54,Self-emp-not-inc,32778,HS-grad,9,Married-civ-spouse,Sales,Wife,White,Female,0,0,30,United-States
20654,57,Self-emp-not-inc,134286,Some-college,10,Separated,Sales,Not-in-family,White,Male,0,0,35,United-States
13777,61,Self-emp-not-inc,111563,Bachelors,13,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,20,United-States
30217,55,Private,156430,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States
28120,35,Private,196178,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
11016,53,Private,102615,11th,7,Divorced,Transport-moving,Not-in-family,White,Male,0,0,40,Canada
1648,35,Private,119272,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,55,United-States
19188,27,Private,182540,11th,7,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,United-States
12885,25,Private,111675,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,43,United-States
997,48,Federal-gov,33109,Bachelors,13,Divorced,Exec-managerial,Unmarried,White,Male,0,0,58,United-States
8205,38,Private,132879,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States
28032,20,Private,157595,Some-college,10,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
542,30,Private,237903,Some-college,10,Never-married,Handlers-cleaners,Unmarried,White,Female,0,0,40,United-States
25609,21,Private,89991,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,United-States
15756,27,Private,191628,HS-grad,9,Never-married,Transport-moving,Not-in-family,Black,Male,2174,0,40,United-States
12713,63,Private,237620,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,30,United-States
3256,44,Private,180985,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,?
7879,51,Private,186303,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States
22522,42,Private,208726,Some-college,10,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States
27825,44,Private,35910,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1902,56,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18407,32,Private,257043,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,42,United-States
6654,49,Private,154451,11th,7,Divorced,Machine-op-inspct,Unmarried,Black,Female,0,0,35,United-States
15114,27,Private,152951,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
4039,35,Private,87556,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Male,0,0,40,United-States
19065,31,Private,114937,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,35,United-States
29851,41,Self-emp-not-inc,142725,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,45,United-States
7890,30,Private,61272,9th,5,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,0,0,40,Portugal
26273,29,Private,180299,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,35,United-States
27184,23,Private,203139,Some-college,10,Never-married,Other-service,Other-relative,White,Female,0,0,40,United-States
13412,36,Private,112264,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,50,United-States
13762,58,Private,123436,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,50,United-States
4043,57,Local-gov,109973,HS-grad,9,Divorced,Other-service,Not-in-family,White,Female,0,0,40,United-States
111,38,Private,65324,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States
13910,73,Self-emp-inc,80986,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,20,United-States
23400,43,Private,191429,7th-8th,4,Married-civ-spouse,Other-service,Husband,White,Male,0,0,25,United-States
8050,42,Private,89073,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,48,United-States
26609,18,Self-emp-inc,147612,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Female,0,0,8,United-States
261,45,Private,98092,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States
10137,51,Private,37237,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,80,United-States
14828,24,Private,291578,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States
3505,32,Self-emp-not-inc,65278,Doctorate,16,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States
4632,59,Private,107833,10th,6,Married-civ-spouse,Transport-moving,Husband,White,Male,0,1485,40,United-States
13372,25,Private,255849,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,United-States
19972,44,Local-gov,145522,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States
30831,36,State-gov,747719,Prof-school,15,Married-civ-spouse,Prof-specialty,Wife,White,Female,15024,0,50,United-States
21172,58,Private,34788,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,1887,40,United-States
29687,45,Self-emp-inc,178344,Assoc-voc,11,Divorced,Sales,Unmarried,White,Female,0,0,30,United-States
3621,63,Private,181863,Bachelors,13,Never-married,Sales,Not-in-family,White,Male,0,0,27,United-States
24479,35,Private,172186,Some-college,10,Separated,Craft-repair,Not-in-family,White,Male,0,0,40,United-States
9644,18,Private,238401,Some-college,10,Never-married,Sales,Own-child,White,Female,0,0,25,United-States

In [7]:
from sklearn.pipeline import Pipeline

class FeaturePipeline(Pipeline):
    def get_feature_names(self):
        return self.steps[-1][1].get_feature_names()

In [8]:
class FeatureSelector:
    """This transformer lets you pick columns from a pandas dataset based on name"""
    def __init__(self, features = [], debug=False):
        self.d = debug
        if type(features) != list:
            raise ValueError("Input features must be of type List.")
        elif type(features) == list:
            self.columns = features

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        X = X[self.columns]
        self.colnames = X.columns.tolist()
        return X
    
    def get_feature_names(self):
        return self.colnames

In [9]:
class adult_OneHotEncoder:
    def __init__(self, debug=False):
        self._encoder = None
        self._column_list = []
        self.d = debug
        self.colnames = None
        
    def fit(self, X, y=None):
        self._encoder = OneHotEncoder(sparse=False)
        self._encoder.fit(X)
        return self
    
    def transform(self, X):
        self._column_list=[]
        result_X= self._encoder.transform(X)
        for column in self._encoder.categories_:
            for value in column:
                self._column_list.append(value)
        X = pd.DataFrame(result_X, columns=self._column_list)
        self.colnames = X.columns.tolist()
        return X
    
    def get_feature_names(self):
        return self.colnames

In [10]:
class ContinentMapper:
    def __init__(self, debug=False):
        self.d = debug
        self.colnames = None
    
    def fit(self, X, y=None):
        return self 

    def transform(self, X):
        df = X.copy()
        country_dictionary = {
            "United-States":"North-America", 
            "Cambodia":"Asia", 
            "England":"Europe", 
            "Puerto-Rico":"South-America", 
            "Canada":"North-America", 
            "Germany":"Europe", 
            "Outlying-US(Guam-USVI-etc)":"North-America", 
            "India":"Asia",
            "Japan":"Asia", 
            "Greece":"Europe", 
            "South":"North-America", 
            "China":"Asia", 
            "Cuba":"North-America", 
            "Iran":"Asia", 
            "Honduras":"South-America", 
            "Philippines":"Asia", 
            "Italy":"Europe", 
            "Poland":"Europe", 
            "Jamaica":"South-America", 
            "Vietnam":"Asia", 
            "Mexico":"North-America", 
            "Portugal":"Europe", 
            "Ireland":"Europe", 
            "France":"Europe", 
            "Dominican-Republic":"South-America", 
            "Laos":"Asia", 
            "Ecuador":"South-America", 
            "Taiwan":"Asia", 
            "Haiti":"South-America", 
            "Columbia":"South-America", 
            "Hungary":"Europe", 
            "Guatemala":"South-America", 
            "Nicaragua":"South-America", 
            "Scotland":"Europe", 
            "Thailand":"Asia", 
            "Yugoslavia":"Europe", 
            "El-Salvador":"South-America", 
            "Trinadad&Tobago":"South-America", 
            "Peru":"South-America", 
            "Hong":"Asia", 
            "Holand-Netherlands":"Europe",
            "?":"unknown"
        }
        df["native-country"] = df["native-country"].map(country_dictionary).fillna("unknown")
        self.colnames = df.columns.tolist()
        return df
    
    def get_feature_names(self):
        return self.colnames

In [11]:
class AgeBinner:
    """Splits age into age groups and labels them"""    
    def __init__(self, debug=False):
        self.d = debug
        self.colnames = None
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        df = X.copy()
        df.age = pd.cut(
            df.age,
            bins=[0,16,30,45,150], 
            labels=["child", "young adult", "adult", "senior adult"]
        )
        self.colnames = df.columns.tolist()
        return df
    
    def get_feature_names(self):
        return self.colnames

In [12]:
class hours_per_week_Binner:
    """Splits age into age groups and labels them"""    
    def __init__(self, debug=False):
        self.d = debug
        self.colnames = None
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        df = X.copy()
        df["hours-per-week"] = pd.cut(
            df["hours-per-week"],
            bins=[0,1,39,41,150], 
            labels=["no work", "part-time", "full-time", "workaholic"]
        )
        self.colnames = df.columns.tolist()
        return df
    
    def get_feature_names(self):
        return self.colnames

In [13]:
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.preprocessing import RobustScaler, OneHotEncoder
from sklearn.impute import SimpleImputer

debug_sate = False

pipe = Pipeline(
    [
        #("one_hot_encoder",OneHotEncoder(debug=False)),
        ("continent_mapper",ContinentMapper(debug=False)),
        ("age_binner", AgeBinner(debug=False)),
        ("hours-per-week", hours_per_week_Binner(debug=False)),
        ("feature_union",
            FeatureUnion(
            [
                ("non_num_pipe", FeaturePipeline(
                    [
                        ("non-numeric_selector", FeatureSelector(["age",
                                                                 "workclass",
                                                                 "education",
                                                                 "marital-status",
                                                                 "occupation", 
                                                                 "relationship",
                                                                 "race", 
                                                                 "sex", 
                                                                 "hours-per-week", 
                                                                 "native-country"], debug=False)),
                        ("one_hot_encoder", adult_OneHotEncoder()),
                    ]
                )),
                ("bypass_pipe", FeaturePipeline(
                        [
                            ("bypass_selector", FeatureSelector(["fnlwgt", "capital-gain", "capital-loss"], debug=False)),
                        ]
                    ))
            ]
            )
        )
    ]
)

In [14]:
pipe.fit(train_X)

Pipeline(memory=None,
     steps=[('continent_mapper', <__main__.ContinentMapper object at 0x125633be0>), ('age_binner', <__main__.AgeBinner object at 0x125633ba8>), ('hours-per-week', <__main__.hours_per_week_Binner object at 0x125633b70>), ('feature_union', FeatureUnion(n_jobs=None,
       transformer_list=[('non_num_pipe',...selector', <__main__.FeatureSelector object at 0x125633cc0>)]))],
       transformer_weights=None))])

In [15]:
train_X_prepared = pipe.transform(train_X)
test_X_prepared = pipe.transform(test_X)

In [16]:
train_X_prepared

array([[1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.11423e+05,
        0.00000e+00, 0.00000e+00],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 3.12477e+05,
        0.00000e+00, 1.88700e+03],
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 3.86110e+04,
        0.00000e+00, 0.00000e+00],
       ...,
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.81863e+05,
        0.00000e+00, 0.00000e+00],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.72186e+05,
        0.00000e+00, 0.00000e+00],
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 2.38401e+05,
        0.00000e+00, 0.00000e+00]])